#main {
	padding-bottom: 111px;
}

.navbar-fixed-bottom .container {
	padding-top:5px;
}
	
@media (max-width: 979px) and (min-width: 768px) {
	.navbar-fixed-bottom .container {
		width: 724px;
	}
}

@media (max-width: 767px) {
	.navbar-fixed-bottom  {
		margin-left: 0px;
		margin-right: 0px;
	}
}