a {
	text-decoration: none !important;
}

.alert {
	margin-top:10px;
	margin-bottom:10px;
}

.alert p {
	margin:0;
}

.brand img {
	max-height:45px;
}

.brand img, img.hugmehugyou {
	max-height:56px;
}

#main {
	padding-bottom: 91px;
}

.navbar-fixed-bottom {
	display: block;
}

.navbar-fixed-bottom .navbar-inner {
	padding-top:5px;
	padding-bottom:0;
}

.navbar-fixed-bottom .container {
	padding-top:0px;
}

.navbar-fixed-bottom a {
	line-height: 100%;
}

.navbar-fixed-bottom img.hugmehugyou {
	max-height:35px;
}
	
.navbar-fixed-bottom p {
	font-size:70%;
	margin: 0 0 5px;
}

/* DASHBOARD WIDGETS */
.widgets .alert.widget
{
	margin-left:20px;
	padding-right: 14px;
	min-width: 250px;
	background-color: transparent;
	border: none;
	margin-top: 0;
	margin-bottom:0;
	padding-top: 0;
}
.widgets .alert.widget h1
{
	text-align:center;
}
.widgets .alert.widget ul
{
	margin-right: 8px;
}

.widgets .alert.widget .modal
{
	color: #000;
}

@media (max-width: 979px) {
	.navbar-fixed-bottom {
		position: fixed;
	}
	.navbar-fixed-bottom .navbar-inner {
		padding-right: 20px;
		padding-left: 20px;
	}
	.navbar-fixed-bottom .container {
		padding:0;
	}
}	
	
@media (max-width: 979px) and (min-width: 768px) {
	.navbar-fixed-bottom .container {
		width: 724px;
	}
}

@media (min-width: 768px)
{
	/* DASHBOARD WIDGETS */
	
}

@media (max-width: 767px) {
	body {
		padding-right: 0;
		padding-left: 0;
	}
	#main {
		padding-right: 20px;
		padding-left: 20px;
	}
	.navbar-fixed-bottom  {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	/* DASHBOARD WIDGETS */
	.widgets .alert.widget
	{
		margin-left:0px;
	}
	.widgets .pull-right, .widget .pull-left {
		
		float:none;
	}
}