.alert {
	margin-top:10px;
	margin-bottom:10px;
}

.alert p {
	margin:0;
}

.brand img {
	max-height:45px;
}

#main {
	padding-bottom: 91px;
}

.navbar-fixed-bottom {
	display: block;
}

.navbar-fixed-bottom .container {
	padding-top:5px;
}

.navbar-fixed-bottom img {
	max-height:45px;
}

.navbar-fixed-bottom p {
	font-size:80%;
	font-style:italic;
}
	
@media (max-width: 979px) {
	.navbar-fixed-bottom {
		position: fixed;
	}
	.navbar-fixed-bottom .navbar-inner {
		padding-right: 20px;
		padding-left: 20px;
	}
}	
	
@media (max-width: 979px) and (min-width: 768px) {
	.navbar-fixed-bottom .container {
		width: 724px;
	}
}

@media (max-width: 767px) {
	body {
		padding-right: 0;
		padding-left: 0;
	}
	#main {
		padding-right: 20px;
		padding-left: 20px;
	}
	.navbar-fixed-bottom  {
		margin-left: 0px;
		margin-right: 0px;
	}
}