* {
	outline: none;
}
div.jp-audio {
	border: 0;
	background-color: transparent;
	width: 40px;
}

div.jp-audio div.jp-type-single div.jp-interface {
	background-color: transparent;
	height: 40px;
	width: 40px;
}

div.jp-audio ul.jp-controls {
	padding: 0;
	width: 40px;
}